{% extends 'base.html.twig' %}

{% block title %}Supprimer une un chat{% endblock %}

{% block body %}
    <h1>Supprimer le chat <i>{{ chat.nom }} ?</i></h1>
    {{ form(formulaire) }}
    {#je vais mettre un petit bouton retour...#}
    <a href="{{ path("app_categories") }}" class="btn btn-default">Retour</a>
{% endblock %}