{% extends 'base.html.twig' %}

{% block title %}Gestion des chatons en BDD{% endblock %}

{% block body %}
    <h1>Gestion des chatons en BDD</h1>
    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for c in categories %}
            <tr>
                <td>{{ c.titre }}</td>
                <td>{{ c.description }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{path("app_categories_ajouter")}}" class="btn btn-success">Ajouter une catégorie</a>
{% endblock %}
